<!-- ORTHUP -->
<h6>Les gouttières d'alignement - Comment ça marche ? </h6>
<br> <br>
<div class="card" style="width: 50%; margin: auto;">
  <video controls 
    #videoPlayer>
  <source src="assets/RESSOURCES/5-Orthocaps/video_orthocaps.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>

<br>
<hr>
<h6> Un cas pratique ...</h6>
<br>
<div class="row">
  <div class="card" style="height: fit-content; width: 700px; display: block; margin: auto;">
    <img
      src="assets/RESSOURCES/5-Orthocaps/3d.jpg"
      alt="">
    <h5 style="text-align: center;display: block; margin: auto;">Modèle 3D</h5>
  </div>
</div>

<br><br>
<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 98%">
      <img src="assets/RESSOURCES/5-Orthocaps/supav.jpg" alt="">
      <h5 style="text-align: center;display: block;margin: auto;">Avant</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 98%">
      <img src="assets/RESSOURCES/5-Orthocaps/supap.jpg" alt="">
      <h5 style="text-align: center;display: block;margin: auto;">Après</h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 90%">
      <img src="assets/RESSOURCES/5-Orthocaps/infav.jpg" alt="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 90%">
      <img src="assets/RESSOURCES/5-Orthocaps/infap.jpg" alt="">
    </div>
  </div>
</div>
<br><br>
<hr>
<br><br>
<!-- photos face -->
<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 450px;">
      <img src="assets/RESSOURCES/5-Orthocaps/faceav.jpg" alt="">
      <h5 style="text-align: center;display: block;margin: auto;">Avant l'alignement</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/5-Orthocaps/faceap.jpg" alt="">
      <h5 style="text-align: center;display: block;margin: auto;">Après l'alignement </h5>
    </div>
  </div>
</div>


<br><br>
<hr>
<br><br>

<!-- photos visages -->

<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 450px;">
      <img src="assets/RESSOURCES/5-Orthocaps/visageav.jpg" alt="">
      <h5 style="text-align: center;display: block;margin: auto;">Avant l'alignement</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/5-Orthocaps/visageap.jpg" alt="">
      <h5 style="text-align: center;display: block;margin: auto;">Après l'alignement </h5>
    </div>
  </div>
</div>