
<h6>Comment ça marche ? </h6>
<p>La confection de gouttières en polymère thermoformé sous vide remonte au début des années 70. Elles étaient alors utilisées pour la contention (stabilisation) des traitements.
  Dès le début des années 90 (Dr Sheridan aux USA) ont été réalisés les premiers traitements avec ces gouttières. Il s’agissait alors de petits mouvements d’alignement ou de fermeture d’espace n’intéressant que quelques dents.
  
  1. Numérisation 3D des dents, 
  2. Maquette informatique 3D des arcades et planification des mouvements
  3. Créations des gouttières
  
  Elles se portent en général par paire, une pour le haut, une pour le bas et - une fois en place - elles recouvrent totalement les dents et sont pratiquement invisibles.
  Vous devrez les porter en permanence et ne les enlever que pour manger, vous brosser les dents, passer un fil dentaire et la pratique de certains sports.
  Chaque gouttière de la série est conçue pour faire faire à vos dents une partie du « chemin » entre leur position initiale et la position idéale prévue par la maquette.
  Chaque jeu d'aligneurs est porté un minimum de 22 heures par jour pendant 15 jours consécutifs. Vous ne devez pas passer au jeu suivant avant que le jeu en cours ait été porté au minimum 300 heures.</p>
<div class="card" style="width: 50%; margin: auto;">
  <video controls (canplay)="pauseVideo(videoplayer)"
    #videoPlayer>
  <source src="../../../assets/RESSOURCES/5-Orthocaps/video_orthocaps.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 300px">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
    </div>
  </div>
</div>