<!-- ORTHUP -->
<h6>Les gouttières d'alignement - Comment ça marche ? </h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls 
    #videoPlayer>
  <source src="assets/RESSOURCES/5-Orthocaps/video_orthocaps.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 300px">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
    </div>
  </div>
</div>