<!-- HIGIENE -->
<h6>Comment se brosser les dents ?</h6><br>
<div class="row">
<div #Eruption class="card" style="width: 47%; margin: auto;">
    <video controls #videoPlayer>
        <source src="assets/RESSOURCES/2-Higiene/brossage.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
 <br>

 <div #Eruption class="card" style="width: 47%; margin: auto;">
  <video controls #videoPlayer>
      <source src="assets/RESSOURCES/2-Higiene/borssagebagues.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</div>
</div>
<br><br><br>
<hr>
<br><br>


<!-- APPAREIL -->
<h6>Comment entretenir son appareil ?</h6><br>

<div class="row">
<div class="card" style="width: 47%; margin: auto;">
  <video controls 
    #videoPlayer>
  <source src="assets/RESSOURCES/4-Multibagues/CUIDADOS/video_bonbons.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
  <br>
  <h6 style="margin: auto;">Effet des bonbons sur les boitiers</h6> 
  <br><br>
</div>
<br>
<div class="card" style="width: 47%; margin: auto;">
  <video controls 
    #videoPlayer>
  <!-- <source src="assets/RESSOURCES/4-Multibagues/CUIDADOS/video_error.mp4" type="video/mp4"> -->
  <source src="assets/RESSOURCES/4-Multibagues/CUIDADOS/cire.mp4" type="video/mp4">

  </video>
  <br>
  <h6 style="margin: auto;">Si les boitiers vous blessent, appliquez de la cire.</h6> 
  <br>
</div>
</div>
<br>

<hr>
<br>



<!-- EFFETS NEFASTES -->
<h6>Qu'est-ce qu'il va se passer si je n'ai pas une hygiène impecable ?</h6> <br>

<div class="card" style="width: 50%; margin: auto;">
  <video controls 
    #videoPlayer>
  <source src="assets/RESSOURCES/2-Higiene/bonjour.mp4" type="video/mp4">
  </video>
</div>

<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 268px">
      <img src="assets/RESSOURCES/2-Higiene/fluor.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 268px">
      <img src="assets/RESSOURCES/2-Higiene/leucome 2 bagues.jpg">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 268px">
      <img src="assets/RESSOURCES/2-Higiene/leucomes bagues.jpg" alt="">
    </div>
  </div>
</div>
<br><br>
<hr>

