<p >Lorem ip lkdnls fdslf sdflskdnflksd</p>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6"></div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card" style="height: 150px" (click)="scroll(fil)">
        <h5 style=" margin: auto;">FIL</h5>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card" style="height: 150px" (click)="scroll(gouthieres)">
        <h5 style=" margin: auto;">gouthieres</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6"></div>
</div>

<br #fil>
<p>Texto aqui escrevendo bem devagar e rápido</p>
<div class="card" style="width: 50%; margin: auto;">
    <video controls (canplay)="pauseVideo(videoplayer)"
      #videoPlayer>
    <source src="{{videoSource}}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
</div>

<br><br><br><br><br><br>

<br #gouthieres>
<p>Texto aqui escrevendo bem devagar e rápido</p>
<div class="card" style="width: 50%; margin: auto;">
    <video controls (canplay)="pauseVideo(videoplayer)"
      #videoPlayer>
    <source src="{{videoSource}}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
</div>