
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56)"  (click)="scroll(classico)">
      <h5 style=" margin: auto;color: seashell; text-align: center;">Traitements Vestibulaires</h5>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56)" (click)="scroll(lingual)">
      <h5 style=" margin: auto; color: seashell;">Traitement Lingual</h5>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px ; background-color: rgb(237, 107, 56);" (click)="scroll(canina)">
      <h5 style=" margin: auto; color: seashell;">Traction Canine</h5>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px ; background-color: rgb(237, 107, 56);" (click)="scroll(chainettes)">
      <h5 style=" margin: auto; color: seashell;">Chainettes</h5>
    </div>
  </div>
</div>

<hr>

<br #classico>
<h6>Traitement Vestibulaire</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls 
    #videoPlayer>
  <source src="../../../assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/video_vestibulaire.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="../../../assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/fotos_vestibulaire/30:01:2015.png" alt="">
      <p style="margin: auto;">Janvier 2015</p> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="../../../assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/fotos_vestibulaire/13:10:2015.png" alt="">
      <p style="margin: auto;">Octobre 2015</p> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="../../../assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/fotos_vestibulaire/29:08:2016.png" alt="">
     <p style="margin: auto;">Aout 2016</p> 
    </div>
  </div>
</div>

<hr>

<br #lingual>
<h6>Traitement Lingual</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls 
    #videoPlayer>
  <source src="../../../assets/RESSOURCES/4-Multibagues/LINGUAL/video_lingual.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="../../../assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/27:10:2008.png" alt="">
      <p style="margin: auto;">Octobre 2008</p> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="../../../assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/12:03:2012.png">
      <p style="margin: auto;">Mars 2012</p> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="../../../assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/06:10:2014.png" alt="">
     <p style="margin: auto;">Octobre 2014</p> 
    </div>
  </div>
</div>

<hr>


<br #canina>
<h6>Traction Canine</h6>
<div class="card" style="width: 50%; margin: auto;">
    <video controls (canplay)="pauseVideo(videoplayer)"
      #videoPlayer>
    <source src="../../../assets/RESSOURCES/7-Chirurgies/Inclusion Canine.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="../../../assets/RESSOURCES/7-Chirurgies/fotos_tractions/désinclusion chir de dent ankylosé copie.JPG" alt="">
 
      <h6 style="margin: auto; text-align: center;">La canine incluse est tractée pour atteindre le plan oclusal </h6>
    </div>
  </div>
  <div class="col">
      <img src="../../../assets/RESSOURCES/7-Chirurgies/fotos_tractions/désinclusion chir de dent ankylosé.JPG" alt="">
  </div>
</div>

<hr>

<br #chainettes>
<h6>Comment fonctionnent les chainettes ? </h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls 
    #videoPlayer>
  <source src="../../../assets/RESSOURCES/4-Multibagues/CUIDADOS/video_chainette.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Notifications</h5>
        <p class="card-category">Handcrafted by our friend
          <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
          <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Notifications Style</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>This is a plain notification</span>
                </div>
                <div class="alert alert-info alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>This is a notification with close button.</span>
                </div>
                <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-bell-55"></span>
                  <span data-notify="message">This is a notification with close button and icon.</span>
                </div>
                <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
                  <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Notification states</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-primary alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                </div>
                <div class="alert alert-info alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                </div>
                <div class="alert alert-success alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                </div>
                <div class="alert alert-warning alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                </div>
                <div class="alert alert-danger alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Notifications Places
                <p class="category">Click to view notifications</p>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','left')">Top Left</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','center')">Top Center</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','right')">Top Right</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->