<!-- MULTIBAGUES -->
<br>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56, 0.699)" (click)="scroll(classico)">
      <h5 style=" margin: auto;color: seashell; text-align: center;">Traitements Vestibulaires</h5>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56, 0.699)" (click)="scroll(lingual)">
      <h5 style=" margin: auto; color: seashell;">Traitement Lingual</h5>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6"></div>
</div>

<br>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px ; background-color: rgba(5, 168, 233, 0.555);" (click)="scroll(canina)">
      <h5 style=" margin: auto; color: seashell;">Traction Canine</h5>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px ; background-color: rgba(5, 168, 233, 0.555);" (click)="scroll(chainettes)">
      <h5 style=" margin: auto; color: seashell;">Chainettes</h5>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6"></div>
</div>


<br><br>
<hr>


<!----------------------------------------------------------------------->
<br #classico>
<h6>Traitement Vestibulaire</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/video vest.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>

<h5 style="text-align: center;">Cas pediatrique</h5>

<!-- photos bouche -->

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/04-07-13/sup.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/15-11-14/sup.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <!-- <img
        src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/08-06-20/M_THOMAS_inferior.jpg"
      
        alt=""> -->
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/08-06-20/sup.jpg" alt="">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/04-07-13/inf.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/15-11-14/inf.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img
        src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/08-06-20/vaitomarnocuInferior.jpg"
        alt="">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/04-07-13/sourire.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/15-11-14/sourire.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/08-06-20/sourire.jpg" alt="">
    </div>
  </div>
</div>
<br><br>


<!-- photos visages -->
<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/04-07-13/visage.jpg" alt="">
      <h5 style="text-align: center;margin: auto;">Juillet 2013</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/08-06-20/fin.jpg" alt="">
      <h5 style="text-align: center;margin: auto;">Juin 2017</h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="card" style="width: 50%; display: block; margin: auto;">
    <img
      src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/VEST_ENF/08-06-20/vaitomarnocu.jpg"
      alt="">
    <h5 style="text-align: center;margin: auto;">Juin 2017</h5>
  </div>
</div>




<br><br><br><br>

<h5 style="text-align: center;">Cas adulte</h5>



<!-- photos bouche -->

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/13-04-19/sup.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/25-05-20/sup.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/17-12-20/sup.jpg" alt="">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/13-04-19/inf.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/25-05-20/inf.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/17-12-20/inf.jpg" alt="">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img
        src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/13-04-19/T ANNABELLE ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-DBUT-DEBUT TRAITEMENT(1).jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img
        src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/25-05-20/T ANNABELLE ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-MB 1-MB.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img
        src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/17-12-20/T ANNABELLE FACE-INTRABUCCALE-D怋AGUAGE-APR許-BILAN(1).jpg"
        alt="">
    </div>
  </div>
</div>
<br><br>


<!-- photos visages -->
<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/13-04-19/face.jpg" alt="">
      <h5 style="text-align: center;margin: auto;">Avril 2019</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/4-Multibagues/VESTIBULAIRE/Vest AD/17-12-20/face.jpg" alt="">
      <h5 style="text-align: center;margin: auto;">Décembre 2020</h5>
    </div>
  </div>
</div>









<hr>
<!----------------------------------------------------------------------->
<br #lingual>
<h6>Traitement Lingual</h6>
<br>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/4-Multibagues/LINGUAL/video_lingual.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>


<!-- photos bouche -->

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/03-01-12/sup.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/26-03-13/sup.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/08-09-15/sup.jpg" alt="">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/03-01-12/inf.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/26-03-13/inf.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/08-09-15/inf.jpg" alt="">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/03-01-12/sourire.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/26-03-13/sourire.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">

      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/08-09-15/sourire.jpg" alt="">
    </div>
  </div>
</div>
<br><br>


<!-- photos visages -->
<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/03-01-12/visage.jpg" alt="">
      <h5 style="text-align: center;margin: auto;">Novembre 2013</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 450px">
      <img src="assets/RESSOURCES/4-Multibagues/LINGUAL/fotos_lingual/08-09-15/marie.jpg" alt="">
      <h5 style="text-align: center;margin: auto;">Septembre 2015</h5>
    </div>
  </div>
</div>

<hr>


<!----------------------------------------------------------------------->
<br #canina>
<h6>Traction Canine</h6>
<h5 style="text-align: center;">Canine Vestibularisée</h5>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/7-Chirurgies/Inclusion Canine.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="assets/RESSOURCES/7-Chirurgies/fotos_tractions/copie.jpg" alt="">

      <h6 style="margin: auto; text-align: center;">La canine incluse est tractée pour atteindre le plan oclusal </h6>
    </div>
  </div>
  <div class="col">
    <img src="assets/RESSOURCES/7-Chirurgies/fotos_tractions/pascopie.jpg" alt="">
  </div>
</div>

<h5 style="text-align: center;">Canine Palatine</h5>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/4-Multibagues/canino plaat.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<br>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="" alt="">
      <p style="margin: auto;"></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="" alt="">
      <p style="margin: auto;"></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: 300px">
      <img src="" alt="">
      <p style="margin: auto;"></p>
    </div>
  </div>
</div>
<hr>



<!----------------------------------------------------------------------->
<br #chainettes>
<h6>Comment fonctionnent les chainettes ? </h6>
<br>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/4-Multibagues/CUIDADOS/video_chainette.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Notifications</h5>
        <p class="card-category">Handcrafted by our friend
          <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
          <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Notifications Style</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>This is a plain notification</span>
                </div>
                <div class="alert alert-info alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>This is a notification with close button.</span>
                </div>
                <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-bell-55"></span>
                  <span data-notify="message">This is a notification with close button and icon.</span>
                </div>
                <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
                  <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Notification states</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-primary alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                </div>
                <div class="alert alert-info alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                </div>
                <div class="alert alert-success alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                </div>
                <div class="alert alert-warning alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                </div>
                <div class="alert alert-danger alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span>
                    <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Notifications Places
                <p class="category">Click to view notifications</p>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','left')">Top Left</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','center')">Top Center</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('top','right')">Top Right</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->