<!-- enfants -->
<p>Avant la pose d'un appareillage il convient, à l'orthodontiste, de faire un <span
        style="font-weight: bold; color: coral;">diagnostic</span>.
<p>Avec celui-ci il pourra ainsi établir le plan de traite ment et donc définir le type d'appareil et la durée des
    soins. Cette séance s'appelle : <span style="font-weight: bold; color: coral;">le BILAN.</span></p>
<p>L'objectif de votre orthodontiste est de réaliser <span style="font-weight: bold; color: coral;">le meilleur
        traitement</span>.</p>
<p>C'est pourquoi, lors de la 1ère consultation et après examen, de la bouche, des dents, des gencives, de la
    déglutition ainsi que de la musculature du visage, il posera des questions sur le passé dentaire et médical.</p>
<p> Puis nous ferons des <span style="font-weight: bold; color: coral;">clichés radiologiques du crâne et des
        dents</span>. Éventuellement de l'articulation des mâchoires (A.T.M ) et du poignet.</p>
<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 100%; margin: auto; background-color: blue;">
            <img src="assets/RESSOURCES/BILAN/photos.png" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 100%; margin: auto;">
            <img src="assets/RESSOURCES/BILAN/scan.png" alt="">

        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="card" style="width: 50%; margin: auto;">
        <img src="assets/RESSOURCES/BILAN/radio.png" alt="">
    </div>

    <br> <br> <br>
    <div>
        <br> <br> <br>
        <p>Les radios du crâne sont informatisées. Elles font l'objet d'une <span
                style="font-weight: bold; color: coral;">analyse approfondie</span>. Des tracés céphalométriques
            détermineront les <span style="font-weight: bold; color: coral;">prévisions de croissance</span>.Ils
            donneront, avec <span style="font-weight: bold; color: coral;">précision</span>, la position des dents et
            des maxillaires. Nous réaliserons ensuite des <span style="font-weight: bold; color: coral;">photos des
                dents et du visage</span>.</p>
        <p> Pour terminer nous prendrons <span style="font-weight: bold; color: coral;">l'empreinte numérique de vos
                dents</span>. Tous ces documents vous seront remis après la pose de l'appareillage:</p>
        <p> <span style="font-weight: bold; color: black;">☞ Radios</span></p>

        <p> <span style="font-weight: bold; color: black;">☞ Analyses céphalométriques</span></p>

        <p> <span style="font-weight: bold; color: black;">☞ Photos</span></p>

        <p> <span style="font-weight: bold; color: black;">☞ Moulages</span></p>
        <p>Vous devrez les conserver soigneusement chez vous.</p>
    </div>


<!-- adultes -->
    <br><br>
    <hr><br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 100%; margin: auto; background-color: blue;">
                <img src="assets/RESSOURCES/BILAN/photo2.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 100%; margin: auto;">
                <img src="assets/RESSOURCES/BILAN/scan2.png" alt="">

            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="card" style="width: 50%; margin: auto;">
            <img src="assets/RESSOURCES/BILAN/radio2.png" alt="">
        </div>

        <br> <br> <br>