<!-- INTERCEPTION -->
<br>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgba(237, 107, 56, 0.699);text-align: center"
      (click)="scroll(fonction)">
      <h5 style=" margin: auto; color: seashell;">Appareil fonctionnel</h5>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56, 0.699);text-align: center"
      (click)="scroll(verin)">
      <h5 style=" margin: auto; color: seashell;">Plaque palatine à verin</h5>
    </div>
  </div>

</div>

<br>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56, 0.699);text-align: center"
      (click)="scroll(ressort)">
      <h5 style=" margin: auto; color: seashell;text-align: center;">Plaque palatine à ressort</h5>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56, 0.699); text-align: center;"
      (click)="scroll(palatine)">
      <h5 style=" margin: auto; color: seashell;">Bielles de Herbst</h5>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6"></div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px ;background-color:rgb(237, 107, 56, 0.699);text-align: center"
      (click)="scroll(Disjoncteur)">
      <h5 style=" margin: auto; color: seashell;">Disjoncteur</h5>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card" style="height: 150px; background-color:rgb(237, 107, 56, 0.699); text-align: center;"
      (click)="scroll(fronde)">
      <h5 style=" margin: auto; color: seashell;">Fronde mentonière</h5>
    </div>
  </div>
</div>

<br>


<br><br>
<!-- CLASSES !!! -->

<hr>
<br #fonction>
<h6>Appareil fonctionnel</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/3-Appareils fonctionnels/educfonct.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/fonctionnel/04-12-15/B ZOHRA ORTHOKIS-MIGRATION-INTRABUCCALE-DROITE-DROIT-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
      <h5>Novembre 2015</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/fonctionnel/28-09-16/B ZOHRA ORTHOKIS-MIGRATION-INTRABUCCALE-DROITE-DROIT-BILAN-FIN-INTERCEPTION.jpg"
        alt="">
      <h5>Septembre 2016</h5>
    </div>
  </div>
</div>


<!----------------------------------------------------------------------->
<hr>
<br #verin>
<h6>Plaque palatine à verin</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/video_palatin.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>

<h5> Octobre 2019</h5>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPV/09-10-19/Z JADE ORTHOKIS-MIGRATION-INTRABUCCALE-GAUCHE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPV/09-10-19/Z JADE ORTHOKIS-MIGRATION-INTRABUCCALE-MAXILLAIRE-BAS-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPV/09-10-19/Z JADE ORTHOKIS-MIGRATION-PORTRAIT-3-4-DROIT-DROITE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
</div>

<h5> Novembre 2019</h5>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPV/16-12-20/Z JADE FACE-INTRABUCCALE-BILAN FIN INTERCEPTION .jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPV/16-12-20/Z JADE INTRABUCCALE-MAXILLAIRE-BILAN FIN INTERCEPTION (1).jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPV/16-12-20/Z JADE SOURIRE-3-4-PORTRAIT-BILAN FIN INTERCEPTION .jpg"
        alt="">
    </div>
  </div>
</div>

<br><br><br>

<!----------------------------------------------------------------------->
<hr>
<br #ressort>
<h6>Plaque palatine à ressort</h6>
<div class="card" style="width: 50%; margin: auto;">
  <img src="assets/RESSOURCES/3-Appareils fonctionnels/PPR/sw_app_palatine1.jpg" alt="">
</div>
<br>






<div class="row">
  <div class="col-md-6">
    <div class="card">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPR/10-05-17/V MATEO ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
      <h5>Avril 2017</h5>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/PPR/18-01-18/V MATEO ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-SV-SURVEILLANCE.jpg"
        alt="">
      <h5>Janvier 2018</h5>
    </div>
  </div>
</div>

<!-- <br><div class="row"><div class="card" style="width:100%;background-color:white;"><h5> Novembre 2018</h5></div></div>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/25-10-18/W FELIX ORTHOKIS-MIGRATION-INTRABUCCALE-MAXILLAIRE-BAS-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/25-10-18/W FELIX ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/25-10-18/W FELIX ORTHOKIS-MIGRATION-PORTRAIT-3-4-DROIT-DROITE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
</div>

<br><div class="row"><div class="card" style="width:100%;background-color:white;"><h5> Novembre 2019</h5></div></div>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/16-10-19/W FELIX INTRABUCCALE-MAXILLAIRE-BILAN FIN INTERCEPTION .png"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/16-10-19/W FELIX ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-BILAN-FIN-INTERCEPTION.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/16-10-19/W FELIX ORTHOKIS-MIGRATION-PORTRAIT-3-4-DROIT-DROITE-BILAN-FIN-INTERCEPTION.jpg"
        alt="">
    </div>
  </div>
</div> -->


<hr>

<!----------------------------------------------------------------------->
<br #palatine>
<h6>Bielles de Herbst</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/3-Appareils fonctionnels/bielles/bielles herbst.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>

<h5> Décembre 2012</h5>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/bielles/18-12-12/face.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/bielles/18-12-12/dent.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/bielles/18-12-12/max.jpg" alt="">
    </div>
  </div>
</div>

<h5> Février 2014</h5>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/bielles/05-02-14/face.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/bielles/05-02-14/dents.jpg" alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/bielles/05-02-14/max.jpg" alt="">
    </div>
  </div>
</div>

<hr>

<!----------------------------------------------------------------------->
<br #Disjoncteur>
<h6>Les Disjoncteurs</h6>
<h5 style="text-align: center;">Disjoncteur palatin fixes</h5>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/disjoncteur simple.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>

<h5> Novembre 2018</h5>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/25-10-18/W FELIX ORTHOKIS-MIGRATION-INTRABUCCALE-MAXILLAIRE-BAS-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/25-10-18/W FELIX ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/25-10-18/W FELIX ORTHOKIS-MIGRATION-PORTRAIT-3-4-DROIT-DROITE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
</div>

<h5> Novembre 2019</h5>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/16-10-19/W FELIX INTRABUCCALE-MAXILLAIRE-BILAN FIN INTERCEPTION .png"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/16-10-19/W FELIX ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-BILAN-FIN-INTERCEPTION.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="height: max-content">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/Ressorts/16-10-19/W FELIX ORTHOKIS-MIGRATION-PORTRAIT-3-4-DROIT-DROITE-BILAN-FIN-INTERCEPTION.jpg"
        alt="">
    </div>
  </div>
</div>

<br><br><br>


<h5> Novembre 2017</h5>



<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 50%">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/fotos dij fixe/14-11-17/D GIULIA ORTHOKIS-MIGRATION-PORTRAIT-SOURIRE-FACE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 90%">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/fotos dij fixe/14-11-17/D GIULIA ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-DBUT-DEBUT TRAITEMENT.jpg"
        alt="">
    </div>
  </div>
</div>

<h5> Avril 2019</h5>


<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 90%">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/fotos dij fixe/09-04-19/D GIULIA ORTHOKIS-MIGRATION-PORTRAIT-SOURIRE-FACE-EF.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 90%">
      <img
        src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/fotos dij fixe/09-04-19/D GIULIA ORTHOKIS-MIGRATION-INTRABUCCALE-FACE-EF.jpg"
        alt="">
    </div>
  </div>
</div>



<br><br><br>

<h5>Disjoncteur mandibulaire</h5>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/video_scwhartz.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/fotos_disjonction mandib/avril2010.JPG" alt="">
      <p> Avril 2020</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/fotos_disjonction mandib/avril2010bis.JPG"
        alt="">
      <p>Avril 2020</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/disjoncteurs/fotos_disjonction mandib/octobre2013.JPG"
        alt="">
      <p> Octobre 2013</p>
    </div>
  </div>
</div>
<hr>


<!----------------------------------------------------------------------->
<!-- <br #linguale>
<h6>Grille linguale</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls  #videoPlayer>
    <source src="" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card" >
      <video src="assets/mov/leucomes.mp4" alt=""></video>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" >
    </div>
  </div>
</div> -->



<!----------------------------------------------------------------------->

<hr>
<br #fronde>
<h6>Fronde Mentonière</h6>
<div class="card" style="width: 50%; margin: auto;">
  <video controls #videoPlayer>
    <source src="assets/RESSOURCES/3-Appareils fonctionnels/front/Face Mask with Hyrax Expander.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/fronte/avant buccal.jpg" alt="">
      <h5>2007</h5>
    </div>
  </div>
  <br>
  <div class="col-md-6">
    <div class="card">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/fronte/apres buccal.jpg" alt="">
      <h5>2012</h5>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">
    <div class="card" >
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/fronte/avant visage.jpg" alt="">
    </div>
  </div>
  <br>
  <div class="col-md-6">
    <div class="card">
      <img src="assets/RESSOURCES/3-Appareils fonctionnels/fronte/teLasca.jpg" alt="">
    </div>
  </div>
</div>