<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 300px">
      <video src="../../../assets/mov/leucomes.mp4" alt=""></video>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 300px">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 300px">
      <video src="../../../assets/mov/leucomes.mp4" alt=""></video>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 300px">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 300px">
      <video src="../../../assets/mov/leucomes.mp4" alt=""></video>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 300px">
    </div>
  </div>
</div>

